body {
  background-color: #ffc107;
}

h1 {
  font-family: comic sans ms;
}

nav {
  background-color: #ffc107;
  box-shadow: none;
}

.circle {
  border-radius: 100px;
}

.icon {
  height: 30px;
  width: 30px;
}
